.avatar-link {
  border-radius: 50%;
}

.avatar-link:not(:last-child) {
  margin-left: -8px;
}

@media (hover: hover) {
  .avatar-link:hover {
    cursor: pointer;
    z-index: 10;
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 14px 28px,
      rgba(0, 0, 0, 0.4) 0px 10px 10px;
  }
}
