.variant-button-group {
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  width: fit-content;
  max-width: 95%;
}

.variant-button {
  color: white;
  text-transform: capitalize;
  text-shadow: rgb(0, 0, 0) 0 0 3px;
}

.selected-variant-button {
  text-transform: capitalize;
  pointer-events: none;
  opacity: 0.5;
  text-shadow: rgb(0, 0, 0) 0 1px 7px;
}

@media (max-width: 950px) {
  .variant-button-group {
    align-self: center;
  }
}

@media (max-width: 500px) {
  .variant-button-group {
    align-self: center;
    padding: 10px;
    gap: 5px;
  }

  .variant-button,
  .selected-variant-button {
    min-width: 50px;
    padding: 6px;
    font-size: 10px;
  }
}

@media (hover: hover) {
  .variant-button:hover {
    border: 2px inset black;
    text-shadow: rgb(0, 0, 0) 0 1px 5px;
  }
}
