.product-page-container {
  padding: 25px;
}
.image-gallery-container {
  width: 50%;
  margin: 0 auto;
}

.image-gallery-image {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  height: 500px;
  object-fit: scale-down;
}

.product-page-title {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 35px;
}

.product-page-info {
  padding-top: 30px;
}
