.product-page-container {
  padding-top: 10px;
}
.image-gallery-container {
  width: 500px;
  margin: 0 auto;
}

.imageGalleryImage {
  width: 500px;
  height: 500px;
  object-fit: scale-down;
}

.product-page-title {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

.product-page-info {
  padding-top: 30px;
}

.product-page-description {
}
